extends layouts/_layout.pug
block variables
    -var currentPage='home'
block main
    .b-wrap__tabs
        .b-tabs
            .b-tabs__blocktext
                .b-blocktext
                    - var fitures = ["Tab 1", "Tab 2", "Tab 3"]
                    each item, index in fitures
                        if index == 1
                            li.tab-item.active
                                a(href="#" + item.toLowerCase().replace(/\s/ig, '-'), class= item.toLowerCase())
                                    span= item.toUpperCase()
                        else
                            li.tab-item
                                a(href="#" + item.toLowerCase().replace(/\s/ig, '-'), class= item.toLowerCase())
                                    span= item.toUpperCase()
                    .tab-contant_container
                        each item in fitures
                            -var link = item.toLowerCase().replace(/\s/ig, '-')
                            div(id=item.toLowerCase().replace(/\s/ig, '-'), class="tab")
                                case link
                                    when "tab-1"
                                        .b-blocktext__tabstext
                                            .b-tabstext
                                                +b-tabstext("The Forest is a first-person open", "In The Forest, the player must survive on a forested island after a plane crash during which mutants are seen taking the player's son away. The player survives by creating shelter, weapons, and other survival tools. Inhabiting the island, along with various woodland creatures, are a tribe of nocturnal, cannibalistic mutants who dwell in deep caves beneath the island.", "error.html", "Download")
                                    when "tab-2"
                                        .b-blocktext__tabstext
                                            .b-tabstext
                                                +b-tabstext("The Forest is a first-person open", "In The Forest, the player must survive on a forested island after a plane crash during which mutants are seen taking the player's son away. The player survives by creating shelter, weapons, and other survival tools. Inhabiting the island, along with various woodland creatures, are a tribe of nocturnal, cannibalistic mutants who dwell in deep caves beneath the island.", "error.html", "Download")
                                    when "tab-3"
                                        .b-blocktext__tabstext
                                            .b-tabstext
                                                +b-tabstext("The Forest is a first-person open", "In The Forest, the player must survive on a forested island after a plane crash during which mutants are seen taking the player's son away. The player survives by creating shelter, weapons, and other survival tools. Inhabiting the island, along with various woodland creatures, are a tribe of nocturnal, cannibalistic mutants who dwell in deep caves beneath the island.", "error.html", "Download")
                                    default
                                        .b-blocktext__tabstext
                                            .b-tabstext
                                                +b-tabstext("The Forest is a first-person open", "In The Forest, the player must survive on a forested island after a plane crash during which mutants are seen taking the player's son away. The player survives by creating shelter, weapons, and other survival tools. Inhabiting the island, along with various woodland creatures, are a tribe of nocturnal, cannibalistic mutants who dwell in deep caves beneath the island.", "error.html", "Download")
            .b-tabs__blockimg
                .b-blockimg
                    img.b-blockimg__img(src="img/about_pic1.jpg")
    .b-wrap__structure
        .b-structure
            .b-tabs__blockimg
                .b-blockimg
                    img.b-blockimg__img(src="img/about_pic2.jpg")
            .b-tabs__blocktext
                .b-blocktext
                    .b-blocktext__title Structure type
                    .b-blocktext__line
                    .b-blocktext__text Bridges may be classified by how the forces of tension, compression, bending, torsion and shear are distributed through their structure.
                    .b-blocktext__structlist
                        ul.b-structlist
                            +b-structlist__item("Understory", "is made up of bushes, shrubs, and young trees that are adapted to living in the shades of the canopy.")
                            +b-structlist__item("Canopy", "Exists in the tropical rain forest and is composed of a few scattered trees that tower over the canopy")
    .b-wrap__solution
        .b-solution
            .b-tabs__blocktext
                .b-blocktext
                    .b-blocktext__title Long forest evolution
                    .b-blocktext__line
                    p.b-blocktext__text A forest is a large area of land covered with trees or other woody vegetation. Hundreds of more precise definitions of forest are used throughout the world, incorporating factors such as tree density, tree height, land use, legal standing and ecological function. These thresholds are typically the number.
                    p.b-blocktext__text Forests at different latitudes form distinctly different ecozones: boreal forests.
            .b-tabs__blockimg
                .b-blockimg
                    img.b-blockimg__img(src="img/about_pic3.jpg")

    include includes/_important
    .b-wrap__pricingoption
        .b-pricingoption
            h2.b-pricingoption__title pricing options
            .b-blocktext__line
            .b-pricingoption__subtitle For a broader coverage related to this topic of trees.
            .b-pricingoption__packet
                .b-packet
                    .b-packet__packetitem
                        .b-packetitem
                            +b-packet__item ("Basic", "0", "Free for life")
                            -var listpacket= ["Canopy", "Clearcutting", "Close to nature", "forestry",  "Cloud forest", "Chase"]
                            ul.b-packetlist
                                each item in listpacket
                                    li.b-packetlist__item= item
                            +b-packet__item ("Professional", "19", "Monthly payment")
                            -var listpacket= ["Dendrometry", "Ecological succession", "Succession", "Forest dynamics",  "Forest management", "Forest migration"]
                            ul.b-packetlist
                                each item in listpacket
                                    li.b-packetlist__item= item
                            +b-packet__item ("Enterprice", "70", "Monthly payment")
                            -var listpacket= ["Definition", "Etymology", "Succession", "Evolution",  "Ecology", "Components"]
                            ul.b-packetlist
                                each item in listpacket
                                    li.b-packetlist__item= item
    include includes/_ecologist
    include includes/_wooddesign
    include includes/_contact_us