mixin head-meta(title, description, href)
    title=title
    meta(name="description" content=description)
    link(rel="canonical" href=href)

mixin b-reasoncol(important__ico, reasoncol__title, reasoncol__text)
    img.b-reasoncol__ico(src=important__ico)
    p.b-reasoncol__title=reasoncol__title
    p.b-reasoncol__text=reasoncol__text