mixin head-meta(title, description, href)
	title= title
	meta(name="description" content= description)
	link(rel="canonical" href= href)
mixin reason_item(number, title, text)
	.b-reason__reasoncol
		.b-reasoncol
			div(class=`icon-important_ico${number}`)
			p.b-reasoncol__title= title
			p.b-reasoncol__text= text
mixin b-packet__item(title, price, subtitle)
	p.b-packetitem__title= title
	.b-packetitem__price
		.b-price
			p.b-price__num $
				span= price
			p.b-price__text= subtitle
mixin b-structlist__item(title, text)
	li.b-structlist__item
		p.b-structlist__title= title
		span.b-structlist__text= text
mixin content(text, image, name, profesion)
	p.ecologist__feedback-text= text
	p.ecologist__feedback-img
		img(src= image)
	p.ecologist__feedback-name= name
	span.ecologists__feedback-proffesion= profesion
mixin contact-us(type, placeholder)
	input(type=type, placeholder=placeholder)
mixin b-tabstext(title, text, text, href, link)
	p.b-tabstext__title= title
	p.b-tabstext__text= text
	p.b-tabstext__text= text
	.b-tabstext__loadbtn
	.b-loadbtn
		a.b-loadbtn__dtn(href=href)= link


