mixin head-meta(title, description, href)
    title=title
    meta(name="description" content=description)
    link(rel="canonical" href=href)

//mixin menu(link, textlink)
//    href=link
//    text=textlink
//    li.b-menu__item
//        a(href=link)